<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>About Us</h3>
            <p>Welcome to our store! We're a music instrument and services provider, born in 1995 and now proudly based
                in Argentina. We offer a wide range of high-quality instruments, catering to musicians of all levels.
                Our services include instrument maintenance, repairs, and upgrades. We're deeply connected to the local
                music community and host workshops and live performances. Join us as we celebrate the universal language
                of music. Visit our store and let us be a part of your musical journey!</p>
        </header>
    </div>
</section>