<section id="testimonials" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="owl-carousel testimonials-carousel wow fadeInUp">

                    <div class="testimonial-item">
                        <img src="assets/testimonial-1.jpg" class="testimonial-img" alt="">
                        <h3>Lang Lagn</h3>
                        <h4>Virtuoso &amp; Musician</h4>
                        <p>
                            My fingers dance with joy every time I play a piano from their trusted store. They've been
                            with me since the very beginning!
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/testimonial-2.jpg" class="testimonial-img" alt="">
                        <h3>Axl Rose</h3>
                        <h4>Rockstar</h4>
                        <p>
                            Rock 'n' roll wouldn't be the same without their killer guitars. Thanks for helping me shred
                            my way to stardom!
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/testimonial-3.jpg" class="testimonial-img" alt="">
                        <h3>Pity Alvarez</h3>
                        <h4>Crazy Musician</h4>
                        <p>
                            From basement gigs to rockstar status, they've been my trusted allies. They even tuned my
                            rebellious attitude!
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="assets/testimonial-4.jpg" class="testimonial-img" alt="">
                        <h3>Paul McCartney</h3>
                        <h4>Genius</h4>
                        <p>
                            I've been jamming with their instruments since the Beatles' mop-top days. They're the secret
                            behind my everlasting melodies!
                        </p>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>