<section id="intro" class="clearfix">
    <div class="container">

        <div class="intro-img">
            <img id="img-intro-bg" src="./assets/intro-img1.svg" alt="musical instruments intro background decoration" class="img-fluid">

        </div>

        <div class="intro-info">
            <h2> Giving you the<br><span>instruments</span><br>to unleash your <span>musical potential</span> since 1995
            </h2>
            <div>
                <a href="#services" class="btn-services scrollto">What we offer?</a>
            </div>
        </div>

    </div>
</section>