<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            <p>We are not just an instrument store</p>
        </header>

        <div class="row">

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #e90606;"></i></div>
                    <h4 class="title"><a href="">Instrument Sales</a></h4>
                    <p class="description">Melody Makers provides a wide selection of musical instruments for sale,
                        catering to musicians of all levels and genres.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #079e3c;"></i></div>
                    <h4 class="title"><a href="">Lessons and Classes </a></h4>
                    <p class="description">Melody Makers has experienced instructors who offer personalized music
                        lessons and classes for various instruments and skill levels.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-paper-outline" style="color: #0db5d2;"></i></div>
                    <h4 class="title"><a href="">Instrument Maintenance</a></h4>
                    <p class="description">Melody Makers can help musicians keep their instruments in top condition by
                        offering maintenance services such as cleaning, restringing, and adjustments. </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#a700b3;"></i></div>
                    <h4 class="title"><a href="">Music Workshops and Events</a></h4>
                    <p class="description">Melody Makers organize workshops, clinics, and events to promote musical
                        education, collaboration, and growth within the local music community.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-world-outline" style="color: #b8e100;"></i></div>
                    <h4 class="title"><a href="">Rental Services</a></h4>
                    <p class="description">Melody Makers may provide rental options for instruments, allowing musicians
                        to access quality instruments for temporary or trial periods.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Trade-Ins and Consignment</a></h4>
                    <p class="description">We offer trade-in services, allowing customers to exchange their current
                        instruments for upgraded models. Additionally, consignment options may be available for
                        customers who wish to sell their instruments through Melody Makers</p>
                </div>
            </div>

        </div>

    </div>
</section>