<section id="featured" class="clearfix">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Our featured</h3>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <ul id="featured-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Keyboards</li>
                    <li data-filter=".filter-card">Guitars</li>
                    <li data-filter=".filter-web">Drums</li>
                </ul>
            </div>
        </div>

        <div class="row featured-container">

            <div class="col-lg-4 col-md-6 featured-item filter-app">
                <div class="featured-wrap">
                    <img src="assets/featured/piano1.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Piano Yamaha</a></h4>
                        <p>xr314</p>
                        <div>
                            <a href="assets/featured/piano1.jpeg" data-lightbox="featured" data-title="App 1"
                                class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-web" data-wow-delay="0.1s">
                <div class="featured-wrap">
                    <img src="assets/featured/drum3.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Pearl Drum Set</a></h4>
                        <p>Ultimate</p>
                        <div>
                            <a href="assets/featured/drum3.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-app" data-wow-delay="0.2s">
                <div class="featured-wrap">
                    <img src="assets/featured/piano2.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Kawai Special Vintage</a></h4>
                        <p>Z990</p>
                        <div>
                            <a href="assets/featured/piano2.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-card">
                <div class="featured-wrap">
                    <img src="assets/featured/guitar2.png" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Gibson Guitar</a></h4>
                        <p>sp45</p>
                        <div>
                            <a href="assets/featured/guitar2.png" class="link-preview" data-lightbox="featured"
                                data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-web" data-wow-delay="0.1s">
                <div class="featured-wrap">
                    <img src="assets/featured/drum2.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Sonor Drum Set</a></h4>
                        <p>g880</p>
                        <div>
                            <a href="assets/featured/drum2.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-app" data-wow-delay="0.2s">
                <div class="featured-wrap">
                    <img src="assets/featured/piano3.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Casio Digital Piano</a></h4>
                        <p>gp-87</p>
                        <div>
                            <a href="assets/featured/piano3.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-card">
                <div class="featured-wrap">
                    <img src="assets/featured/guitar1.png" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Ibanez</a></h4>
                        <p>esp44</p>
                        <div>
                            <a href="assets/featured/guitar1.png" class="link-preview" data-lightbox="featured"
                                data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-card" data-wow-delay="0.1s">
                <div class="featured-wrap">
                    <img src="assets/featured/guitar3.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Epiphone Guitar</a></h4>
                        <p>sono5</p>
                        <div>
                            <a href="assets/featured/guitar3.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 featured-item filter-web" data-wow-delay="0.2s">
                <div class="featured-wrap">
                    <img src="assets/featured/drum1.jpeg" class="img-fluid" alt="">
                    <div class="featured-info">
                        <h4><a href="#">Gretsh Drum Set</a></h4>
                        <p>al 90</p>
                        <div>
                            <a href="assets/featured/drum1.jpeg" class="link-preview" data-lightbox="featured"
                                data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i
                                    class="ion ion-android-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>