<li class="drop-down"><a href="">Instruments</a>
    <ul>
        <li class="drop-down"><a href="#">Keyboards </a>
            <ul>
                <li><a href="#">Pianos</a></li>
                <li><a href="#">Digital</a></li>
            </ul>
        </li>
        <li class="drop-down"><a href="#">Brass</a>
            <ul>
                <li><a href="#">Tubas</a></li>
                <li><a href="#">Trumpets</a></li>
                <li><a href="#">French Horns</a></li>
            </ul>
        </li>
        <li class="drop-down"><a href="#">Guitars</a>
            <ul>
                <li><a href="#">Acoustic</a></li>
                <li><a href="#">Electric</a></li>
            </ul>
        </li>
        <li class="drop-down"><a href="#">Drums & Percussion</a>
            <ul>
                <li><a href="#">Drum Set</a></li>
                <li><a href="#">World Percussion</a></li>
            </ul>
        </li>
        <li class="drop-down"><a href="#">Woodwinds</a>
            <ul>
                <li class="drop-down"><a href="#">Saxophones</a>
                    <ul>
                        <li><a href="#">Soprano</a></li>
                        <li><a href="#">Alto</a></li>
                        <li><a href="#">Tenor</a></li>
                        <li><a href="#">Baritone</a></li>
                        <li><a href="#">Bass</a></li>
                    </ul>
                </li>
                <li><a href="#">Flutes</a></li>
            </ul>
        </li>
    </ul>
</li>